body {
  background: #4f4f55;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.timer__countdown {
  display: flex;
  gap: 20px;
}
.timer__element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
}
h3 {
  color: white;
}

span {
  color: white;
}
